<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/logincss.css">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <h1>Login</h1>
      <button onclick="location.href='/student-login'" class="login-btn">Login as Student</button>
      <button onclick="location.href='/college-login'" class="login-btn">Login as College</button>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>
</html>
