<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/signupcss.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="wrapper">
    <div class="container">
      <h1>Sign Up</h1>
      <button onclick="location.href='/student-signup'" class="signup-btn">Sign Up as Student</button>
      <button onclick="location.href='/college-signup'" class="signup-btn">Sign Up as College</button>
    </div>
    <%- include('partials/footer') %>
  </div>
  <script src="/js/scripts.js"></script>
</body>
</html>
