<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/student-signup.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <h1>Student Sign Up</h1>
    <form id="student-signup-form" action="/student-signup" method="POST">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="text" name="name" placeholder="Name" required>
      <button type="submit">Sign Up</button>
    </form>
    
  </div>
  
  <script src="/js/scripts.js"></script>
</body>
</html>
